/* fonts.css */

/* Recoleta Sans */
/* @font-face {
  font-family: 'Recoleta Sans';
  src: url('/fonts/recoleta_sans_st-webfont.woff2') format('woff2'),
       url('/fonts/recoleta_sans_st-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* Recoleta Regular */
@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/recoleta-regulardemo-webfont.woff2') format('woff2'),
       url('/fonts/recoleta-regulardemo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Black */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi-black-webfont.woff2') format('woff2'),
       url('/fonts/satoshi-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Black Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi-blackitalic-webfont.woff2') format('woff2'),
       url('/fonts/satoshi-blackitalic-webfont.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Satoshi Bold */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi-bold-webfont.woff2') format('woff2'),
       url('/fonts/satoshi-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Bold Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi-bolditalic-webfont.woff2') format('woff2'),
       url('/fonts/satoshi-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Satoshi Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi-italic-webfont.woff2') format('woff2'),
       url('/fonts/satoshi-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Satoshi Light */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi-light-webfont.woff2') format('woff2'),
       url('/fonts/satoshi-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Light Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi-lightitalic-webfont.woff2') format('woff2'),
       url('/fonts/satoshi-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Satoshi Medium */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi-medium-webfont.woff2') format('woff2'),
       url('/fonts/satoshi-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Medium Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi-mediumitalic-webfont.woff2') format('woff2'),
       url('/fonts/satoshi-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Satoshi Regular */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi-regular-webfont.woff2') format('woff2'),
       url('/fonts/satoshi-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}