@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/globals.css */
html, body, #__next {
    height: 100%;
  }
  


 

/* Smooth transition for max-height */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.transition-max-height {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

/* This class will be used for the expanded state */
.transition-max-height.open {
  max-height: 1000px; 
  opacity: 1;
}


/* globals.css */
.font-satoshi {
  font-family: 'Satoshi', sans-serif;
}

.font-recoleta {
  font-family: 'Recoleta', serif;
}
